$cloud_blue: rgba(0,158,255,1);

$rainbow_red: rgba(232,20,0,1);
$rainbow_orange: rgba(255,164,0,1);
$rainbow_yellow: rgba(255,255,10,1);
$rainbow_green: rgba(0,232,16,1);
$rainbow_blue: rgba(0,21,255,1);
$rainbow_white: rgba(255,255,255,1);

$eggy_orange: rgba(255,164,0,1);
$eggy_blue: rgba(0,21,255,1);

$buttons_grey: rgba(0,0,0,.65);